.input:focus {
  outline: none;
}

.menu-container {
  position: fixed;
  right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  bottom: 50%;
  transform: translateY(50%);
}

@media (max-width: 768px) {
  .menu-container {
    top: 50px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    bottom: auto;
  }

  .action-buttons {
    flex-direction: column !important;
  }

  .input-container {
    margin-top: 150px;
  }

  .forest-grid {
    grid-template-columns: 1fr !important;
    padding: 0px 20px 20px 20px !important;
  }

  .home-button-container {
    top: 20px !important;
    right: 20px !important;
    transform: none !important;
  }

  .home-button-container .button {
    background-color: #fefaf1;
  }
}
